<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Bahrain Dogs Website</title>
</head>
<body>
    <h1>Welcome to the Bahrain Dogs Website!</h1>

    <img src="/assets/pawprint.png" alt="The dogs Directory" class="pawprint">

    <p>A simple website for users to sell there dogs in Bahrain.</p>

    <a href="/doges" class="doges-index-link">
        <div class="index-link-text">
            Browse Dogs
        </div>
    </a>
</body>
<footer>Icons by <a href="https://www.flaticon.com/authors/freepik">Freekpik</a></footer>
</html>