@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz@9..40&display=swap");

.pawprint {
    height: 30vh;
}

body {
  background: #fff8ed;
  font-family: "DM Sans", sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 100vw;
}

h1 {
  color: #8093F1;
  font-size: 3.6em;
}

footer {
  font-size: 0.7em;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 10px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-color: #B1E6F3;
  padding: 20px 30px;
  border-radius: 20px;
  box-shadow: 5px 6px #72DDF7;
  margin: 20px 10px;
}

.checkbox-div {
  flex-direction: row;
}

label,
input {
  margin: 10px 2px 0 2px;
}

button {
  align-self: center;
  margin: 10px 4px 4px 4px;
  background-color: #9667E0;
  color: white;
  padding: 5px 10px;
  border-radius: 15px;
  border: none;
  width: 15em;
}

button:hover {
  background-color: #C2A9EF;
}

button:active {
  background-color: #9667E0;
}

li {
  list-style: none;
}
.index-header-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 98%;
}

.doges-index-link {
  text-decoration: none;
}

.index-link-text {
  background-color: #FFAEB0;
  color: white;
  font-size: 1.4em;
  width: 10em;
  padding: 5px 15px;
  margin: 15px;
  border-radius: 25px;
  text-align: center;
  box-shadow: 0 5px #FF8ECC;
}

.index-link-text:hover {
  background-color: #FF8ECC;
  box-shadow: 0 5px #FFAEB0;
}

.index-link-text:active {
  background-color: #FFAEB0;
  box-shadow: 0 2.5px #FF8ECC;
}
.add-dogs {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 20px;
  text-decoration: none;
  width: 6em;
  text-transform: uppercase;
  background-color: #C2A9EF;
  border-radius: 30px;
  color: white;
  padding: 10px;
  font-weight: bold;
  font-size: 1.2em;
}

.actions {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 130px;
  padding: 20px 0;
}

.delete-form {
  padding: 0;
  box-shadow: 0 0;
  background-color: transparent;
  height: 50px;
  margin: 0 20px 0 0;
  min-height: 100%;
}

.delete-button {
  background-color: #f47b5b;
  text-transform: uppercase;
  padding: 40px 15px;
  width: 70%;
  /* height: 100%; */
  font-size: 1.3em;
  margin: 0;
  min-height: 100%;
}

.delete-button:hover {
  background-color: #ffbd59;
}

.delete-button:active {
  background-color: rgb(217, 108, 78);
}

.edit-link {
  text-decoration: none;
}

.edit-text {
  background-color: #9667E0;
  text-transform: uppercase;
  padding: 40px 15px;
  font-size: 1.3em;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: bold;
  text-align: center;
  width: 70%;
  height: 50px;
}

.edit-text:hover {
  background-color: #C2A9EF;
}

.edit-text:active {
  background-color: #2d4d3a;
  background-color: rgb(217, 108, 78);
}